## Cleaning and Exploring the Time-of-Day Data

This notebook is for playing around with the 'TIME' column of the bird strike data found in the "strikes_2000_2019.csv" file. The 'TIME' column records the time of day that the strike occured.

In [1]:
import numpy as np
import pandas as pd
import pprint

In [2]:
# Load in the strike data
strikes = pd.read_csv("strikes_2000_2019.csv")

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (14,16,77,86,96,99) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# May want to eventually fix up the data file to avoid the above problem
strikes.columns[[14,16,77,86,96,99]]

Index(['AMO', 'EMO', 'PRECIP_FOG', 'AOS', 'NR_INJURIES', 'TRANSFER'], dtype='object')

In [4]:
strikes.head()

,INDX_NR,INCIDENT_DATE,STATE,AIRPORT_ID,AIRPORT,OPERATOR_ID,OPERATOR,AIRCRAFT,TYPE_ENG,SPECIES,...,REPORTED_TITLE,REPORTED_DATE,COMMENT,SOURCE,PERSON,NR_INJURIES,NR_FATALITIES,LUPDATE,TRANSFER,INDICATED_DAMAGE
0,638332,5/27/07,TX,KHOU,WILLIAM P HOBBY ARPT,SWA,SOUTHWEST AIRLINES,B-737-300,D,Eastern meadowlark,...,REDACTED,8/21/07,TWO XXXX-X (XXXX-X-XX-XXXXXX & X-X-XXXXXX) /Le...,FAA Form 5200-7-E,Pilot,NaN,NaN,8/21/07,False,True
1,638333,5/27/07,NaN,ZZZZ,UNKNOWN,USA,1US AIRWAYS,B-737-400,D,Gulls,...,REDACTED,8/21/07,NaN,FAA Form 5200-7,Air Transport Operations,NaN,NaN,8/21/07,False,True
2,638334,8/6/00,NaN,ZZZZ,UNKNOWN,BUS,BUSINESS,BE-33,A,Unknown bird - small,...,REDACTED,10/6/00,NaN,FAA Form 5200-7,Pilot,NaN,NaN,10/6/00,False,True
3,638335,3/15/00,TX,KDAL,DALLAS LOVE FIELD ARPT,SWA,SOUTHWEST AIRLINES,B-737-300,D,Unknown bird - small,...,REDACTED,5/17/00,NaN,FAA Form 5200-7,NaN,NaN,NaN,5/17/00,False,False
4,638336,5/8/00,OR,KPDX,PORTLAND INTL (OR),AAL,AMERICAN AIRLINES,MD-80,D,Unknown bird - medium,...,REDACTED,7/14/00,NaN,PACIR,Tower,NaN,NaN,7/14/00,False,False

In [5]:
# print an example row
pprint.pprint([(strikes.columns[i], str(strikes.iloc[6,i])) for i in range(len(strikes.columns))])

[('INDX_NR', '638338'),
 ('INCIDENT_DATE ', '8/28/00'),
 ('STATE', 'NJ'),
 ('AIRPORT_ID', 'KTTN'),
 ('AIRPORT', 'TRENTON MERCER ARPT'),
 ('OPERATOR_ID', 'TCF'),
 ('OPERATOR', 'SHUTTLE AMERICA'),
 ('AIRCRAFT', 'DHC8 DASH 8'),
 ('TYPE_ENG', 'C'),
 ('SPECIES', 'Crows'),
 ('SPECIES_ID', 'YM11'),
 ('DAMAGE', 'N'),
 ('COST_REPAIRS', 'nan'),
 ('AMA', '303'),
 ('AMO', '10.0'),
 ('EMA', '31.0'),
 ('EMO', '10.0'),
 ('AC_CLASS', 'A  '),
 ('AC_MASS', '3.0'),
 ('NUM_ENGS', '2.0'),
 ('ENG_1_POS', '4.0'),
 ('ENG_2_POS', '4.0'),
 ('ENG_3_POS', 'nan'),
 ('ENG_4_POS', 'nan'),
 ('REG', 'N806SA'),
 ('FLT', 'nan'),
 ('REMAINS_COLLECTED', 'False'),
 ('REMAINS_SENT', 'False'),
 ('INCIDENT_MONTH', '8'),
 ('INCIDENT_YEAR', '2000'),
 ('TIME_OF_DAY', 'Day'),
 ('TIME', '     '),
 ('FAAREGION', 'AEA '),
 ('ENROUTE', 'nan'),
 ('RUNWAY', '6'),
 ('LOCATION', 'nan'),
 ('HEIGHT', '0.0'),
 ('SPEED', 'nan'),
 ('DISTANCE', '0.0'),
 ('PHASE_OF_FLIGHT', 'Landing Roll'),
 ('STR_RAD', 'False'),
 ('DAM_RAD', 'False'),
 ('STR_WINDSHLD', 'False'),
 ('DAM_WINDSHLD', 'False'),
 ('STR_NOSE', 'False'),
 ('DAM_NOSE', 'False'),
 ('STR_ENG1', 'False'),
 ('DAM_ENG1', 'False'),
 ('STR_ENG2', 'False'),
 ('DAM_ENG2', 'False'),
 ('STR_ENG3', 'False'),
 ('DAM_ENG3', 'False'),
 ('STR_ENG4', 'False'),
 ('DAM_ENG4', 'False'),
 ('STR_PROP', 'False'),
 ('DAM_PROP', 'False'),
 ('STR_WING_ROT', 'False'),
 ('DAM_WING_ROT', 'False'),
 ('STR_FUSE', 'True'),
 ('DAM_FUSE', 'False'),
 ('STR_LG', 'False'),
 ('DAM_LG', 'False'),
 ('STR_TAIL', 'False'),
 ('DAM_TAIL', 'False'),
 ('STR_LGHTS', 'False'),
 ('DAM_LGHTS', 'False'),
 ('STR_OTHER', 'False'),
 ('DAM_OTHER', 'False'),
 ('OTHER_SPECIFY', 'nan'),
 ('INGESTED', 'False'),
 ('EFFECT_NONE', '1'),
 ('EFFECT_ABORTED', '0'),
 ('EFFECT_PREC_LAND', '0'),
 ('EFFECT_ENG_SHUT', '0'),
 ('EFFECT_OTH', '0'),
 ('EFFECT_OTHER', 'nan'),
 ('SKY', 'Overcast'),
 ('PRECIP_FOG', '0'),
 ('PRECIP_RAIN', '0'),
 ('PRECIP_SNOW', '0'),
 ('PRECIP_NONE', '1'),
 ('BIRDS_SEEN', '1'),
 ('BIRDS_STRUCK', '1'),
 ('SIZE', 'Medium'),
 ('WARNED', 'Yes'),
 ('REMARKS', 'nan'),
 ('AOS', 'nan'),
 ('OTHER_COST', 'nan'),
 ('COST_REPAIRS_INFL_ADJ', 'nan'),
 ('COST_OTHER_INFL_ADJ', 'nan'),
 ('REPORTED_NAME', 'REDACTED'),
 ('REPORTED_TITLE', 'REDACTED'),
 ('REPORTED_DATE ', '3/5/15'),
 ('COMMENT', 'nan'),
 ('SOURCE', 'FAA Form 5200-7'),
 ('PERSON', 'Pilot'),
 ('NR_INJURIES', 'nan'),
 ('NR_FATALITIES', 'nan'),
 ('LUPDATE', '3/5/15'),
 ('TRANSFER', 'False'),
 ('INDICATED_DAMAGE', 'False')]

In [6]:
# Take a more detailed look at all of the columns
for i in range (0,95,5):
    print(strikes.iloc[:,i:(i+5)].head())
    
print(strikes.iloc[:,95:102].head())

   INDX_NR INCIDENT_DATE  STATE AIRPORT_ID                 AIRPORT
0   638332        5/27/07    TX       KHOU    WILLIAM P HOBBY ARPT
1   638333        5/27/07   NaN       ZZZZ                 UNKNOWN
2   638334         8/6/00   NaN       ZZZZ                 UNKNOWN
3   638335        3/15/00    TX       KDAL  DALLAS LOVE FIELD ARPT
4   638336         5/8/00    OR       KPDX      PORTLAND INTL (OR)
  OPERATOR_ID            OPERATOR   AIRCRAFT TYPE_ENG                SPECIES
0         SWA  SOUTHWEST AIRLINES  B-737-300        D     Eastern meadowlark
1         USA         1US AIRWAYS  B-737-400        D                  Gulls
2         BUS            BUSINESS      BE-33        A   Unknown bird - small
3         SWA  SOUTHWEST AIRLINES  B-737-300        D   Unknown bird - small
4         AAL   AMERICAN AIRLINES      MD-80        D  Unknown bird - medium
  SPECIES_ID DAMAGE  COST_REPAIRS  AMA AMO
0      ZT001      N           NaN  148  24
1        NE1      N           NaN  148  32
2      UNKBS      M       10000.0  123   6
3      UNKBS      N           NaN  148  24
4      UNKBM      N           NaN  583  37
    EMA EMO AC_CLASS  AC_MASS  NUM_ENGS
0  10.0   1      A        4.0       2.0
1  10.0   1      A        4.0       2.0
2  13.0  16      A        1.0       1.0
3  10.0   1      A        4.0       2.0
4  34.0  10      A        4.0       2.0
   ENG_1_POS  ENG_2_POS  ENG_3_POS  ENG_4_POS     REG
0        1.0        1.0        NaN        NaN     NaN
1        1.0        1.0        NaN        NaN  N445US
2        7.0        NaN        NaN        NaN  N8919U
3        1.0        1.0        NaN        NaN     NaN
4        5.0        5.0        NaN        NaN     NaN
    FLT  REMAINS_COLLECTED  REMAINS_SENT  INCIDENT_MONTH  INCIDENT_YEAR
0  3262               True         False               5           2007
1   NaN              False         False               5           2007
2   NaN              False         False               8           2000
3   NaN              False         False               3           2000
4   NaN              False         False               5           2000
  TIME_OF_DAY   TIME FAAREGION ENROUTE RUNWAY
0         Day   8:35      ASW      NaN    12R
1         Day  19:30       NaN     NaN    NaN
2         Day              NaN      TX    NaN
3         NaN             ASW      NaN    NaN
4         Day  11:25      ANM      NaN    28R
        LOCATION  HEIGHT  SPEED  DISTANCE PHASE_OF_FLIGHT
0            NaN     0.0  140.0       0.0    Take-off Run
1            NaN    50.0  150.0       0.0        Approach
2  Near  Addison  2500.0  140.0       NaN        En Route
3            NaN   300.0  140.0       NaN        Approach
4            NaN     0.0    NaN       0.0    Take-off Run
   STR_RAD  DAM_RAD  STR_WINDSHLD  DAM_WINDSHLD  STR_NOSE
0    False    False         False         False     False
1    False    False         False         False     False
2    False    False         False         False     False
3    False    False         False         False     False
4    False    False         False         False     False
   DAM_NOSE  STR_ENG1  DAM_ENG1  STR_ENG2  DAM_ENG2
0     False      True     False     False     False
1     False     False     False      True     False
2     False     False     False     False     False
3     False     False     False     False     False
4     False     False     False     False     False
   STR_ENG3  DAM_ENG3  STR_ENG4  DAM_ENG4  STR_PROP
0     False     False     False     False     False
1     False     False     False     False     False
2     False     False     False     False     False
3     False     False     False     False     False
4     False     False     False     False     False
   DAM_PROP  STR_WING_ROT  DAM_WING_ROT  STR_FUSE  DAM_FUSE
0     False         False         False     False     False
1     False         False         False     False     False
2     False          True          True     False     False
3     False         False         False     False     False
4     False         False         False     False     False
   STR_LG  DAM_LG  STR_TAIL  DAM_TAIL  STR_LGHTS
0   False   False     False     False      False
1   False   False     False     False      False
2   False   False     False     False      False
3   False   False     False     False      False
4   False   False     False     False      False
   DAM_LGHTS  STR_OTHER  DAM_OTHER OTHER_SPECIFY  INGESTED
0      False      False      False           NaN      True
1      False      False      False           NaN      True
2      False      False      False           NaN     False
3      False      False      False           NaN     False
4      False      False      False           NaN     False
   EFFECT_NONE  EFFECT_ABORTED  EFFECT_PREC_LAND  EFFECT_ENG_SHUT  EFFECT_OTH
0            1               0                 0                0           0
1            0               0                 0                0           1
2            1               0                 0                0           0
3            0               0                 0                0           0
4            0               0                 0                0           0
            EFFECT_OTHER         SKY PRECIP_FOG  PRECIP_RAIN  PRECIP_SNOW
0                    NaN  Some Cloud          0            0            0
1  SCHEDULE INTERRUPTION  Some Cloud          0            0            0
2                    NaN    No Cloud          0            0            0
3                    NaN    No Cloud          0            0            0
4                    NaN         NaN          0            0            0
   PRECIP_NONE BIRDS_SEEN BIRDS_STRUCK    SIZE   WARNED
0            1       2-10            1   Small  Unknown
1            1       2-10         2-10  Medium       No
2            1                       1   Small       No
3            1                    2-10   Small       No
4            0                       1  Medium  Unknown
                                             REMARKS  AOS  OTHER_COST  \
0  PILOT REPTD BIRD AS GULL. PILOT ADVISED OF POS...  NaN         NaN
1  ETR ON A/C TO REMOVE BIRD FROM RT ENG. OUT OF ...    2         NaN
2  DENTED LE OF RT WING ROOT. ABOUT 3-4 DEEP. DAM...  NaN         NaN
3                  HIT A FLOCK, ASSUME 2-10. NO DMG.  NaN         NaN
4                     FLT 2732, PDX-SEA, HIT A BIRD.  NaN         NaN

   COST_REPAIRS_INFL_ADJ  COST_OTHER_INFL_ADJ
0                    NaN                  NaN
1                    NaN                  NaN
2                    NaN                  NaN
3                    NaN                  NaN
4                    NaN                  NaN
  REPORTED_NAME REPORTED_TITLE REPORTED_DATE   \
0      REDACTED       REDACTED        8/21/07
1      REDACTED       REDACTED        8/21/07
2      REDACTED       REDACTED        10/6/00
3      REDACTED       REDACTED        5/17/00
4      REDACTED       REDACTED        7/14/00

                                             COMMENT             SOURCE
0  TWO XXXX-X (XXXX-X-XX-XXXXXX & X-X-XXXXXX) /Le...  FAA Form 5200-7-E
1                                                NaN    FAA Form 5200-7
2                                                NaN    FAA Form 5200-7
3                                                NaN    FAA Form 5200-7
4                                                NaN              PACIR
                     PERSON NR_INJURIES  NR_FATALITIES  LUPDATE TRANSFER  \
0                     Pilot         NaN            NaN  8/21/07    False
1  Air Transport Operations         NaN            NaN  8/21/07    False
2                     Pilot         NaN            NaN  10/6/00    False
3                       NaN         NaN            NaN  5/17/00    False
4                     Tower         NaN            NaN  7/14/00    False

   INDICATED_DAMAGE
0              True
1              True
2              True
3             False
4             False

In [7]:
# Print all the column names
print([strikes.columns[i] for i in range(len(strikes.columns))])

['INDX_NR', 'INCIDENT_DATE ', 'STATE', 'AIRPORT_ID', 'AIRPORT', 'OPERATOR_ID', 'OPERATOR', 'AIRCRAFT', 'TYPE_ENG', 'SPECIES', 'SPECIES_ID', 'DAMAGE', 'COST_REPAIRS', 'AMA', 'AMO', 'EMA', 'EMO', 'AC_CLASS', 'AC_MASS', 'NUM_ENGS', 'ENG_1_POS', 'ENG_2_POS', 'ENG_3_POS', 'ENG_4_POS', 'REG', 'FLT', 'REMAINS_COLLECTED', 'REMAINS_SENT', 'INCIDENT_MONTH', 'INCIDENT_YEAR', 'TIME_OF_DAY', 'TIME', 'FAAREGION', 'ENROUTE', 'RUNWAY', 'LOCATION', 'HEIGHT', 'SPEED', 'DISTANCE', 'PHASE_OF_FLIGHT', 'STR_RAD', 'DAM_RAD', 'STR_WINDSHLD', 'DAM_WINDSHLD', 'STR_NOSE', 'DAM_NOSE', 'STR_ENG1', 'DAM_ENG1', 'STR_ENG2', 'DAM_ENG2', 'STR_ENG3', 'DAM_ENG3', 'STR_ENG4', 'DAM_ENG4', 'STR_PROP', 'DAM_PROP', 'STR_WING_ROT', 'DAM_WING_ROT', 'STR_FUSE', 'DAM_FUSE', 'STR_LG', 'DAM_LG', 'STR_TAIL', 'DAM_TAIL', 'STR_LGHTS', 'DAM_LGHTS', 'STR_OTHER', 'DAM_OTHER', 'OTHER_SPECIFY', 'INGESTED', 'EFFECT_NONE', 'EFFECT_ABORTED', 'EFFECT_PREC_LAND', 'EFFECT_ENG_SHUT', 'EFFECT_OTH', 'EFFECT_OTHER', 'SKY', 'PRECIP_FOG', 'PRECIP_RAIN', 'PRECIP_SNOW', 'PRECIP_NONE', 'BIRDS_SEEN', 'BIRDS_STRUCK', 'SIZE', 'WARNED', 'REMARKS', 'AOS', 'OTHER_COST', 'COST_REPAIRS_INFL_ADJ', 'COST_OTHER_INFL_ADJ', 'REPORTED_NAME', 'REPORTED_TITLE', 'REPORTED_DATE ', 'COMMENT', 'SOURCE', 'PERSON', 'NR_INJURIES', 'NR_FATALITIES', 'LUPDATE', 'TRANSFER', 'INDICATED_DAMAGE']

In [246]:
# Make a smaller data frame to focus on the strike time and place
strike_times = strikes[['INDX_NR','INCIDENT_DATE ','STATE',
                        'AIRPORT_ID', 'OPERATOR_ID','SPECIES_ID',
                        'DAMAGE','COST_REPAIRS',
                        'INCIDENT_MONTH','INCIDENT_YEAR',
                        'TIME_OF_DAY','TIME',
                        'FAAREGION','ENROUTE','LOCATION',
                        'HEIGHT','SPEED','DISTANCE',
                        'PHASE_OF_FLIGHT',
                        'EFFECT_NONE', 'EFFECT_ABORTED', 
                        'EFFECT_PREC_LAND', 'EFFECT_ENG_SHUT', 
                        'EFFECT_OTH', 'EFFECT_OTHER',
                        'SKY', 'PRECIP_FOG', 'PRECIP_RAIN', 
                        'PRECIP_SNOW', 'PRECIP_NONE', 
                        'BIRDS_SEEN', 'BIRDS_STRUCK', 'SIZE', 
                        'WARNED', 'REMARKS', 'AOS',
                        'OTHER_COST', 'COST_REPAIRS_INFL_ADJ', 
                        'COST_OTHER_INFL_ADJ','COMMENT',
                        'INDICATED_DAMAGE']]

In [193]:
# print an example row
# note that not all of them have a time of day
strike_times.iloc[11,:]

INDX_NR                               638343
INCIDENT_DATE                         4/6/00
STATE                                     OR
AIRPORT_ID                              KPDX
OPERATOR_ID                              ABX
SPECIES_ID                             J2109
DAMAGE                                     N
COST_REPAIRS                             NaN
INCIDENT_MONTH                             4
INCIDENT_YEAR                           2000
TIME_OF_DAY                            Night
TIME                                    4:31
FAAREGION                               ANM
ENROUTE                                  NaN
LOCATION                                 NaN
HEIGHT                                     0
SPEED                                    NaN
DISTANCE                                   0
PHASE_OF_FLIGHT                 Landing Roll
EFFECT_NONE                                1
EFFECT_ABORTED                             0
EFFECT_PREC_LAND                           0
EFFECT_ENG_SHUT                            0
EFFECT_OTH                                 0
EFFECT_OTHER                             NaN
SKY                                 Overcast
PRECIP_FOG                                 0
PRECIP_RAIN                                1
PRECIP_SNOW                                0
PRECIP_NONE                                0
BIRDS_SEEN                                 1
BIRDS_STRUCK                               1
SIZE                                  Medium
WARNED                                   Yes
REMARKS                  BIRD ID BY WS BIOL.
AOS                                      NaN
OTHER_COST                               NaN
COST_REPAIRS_INFL_ADJ                    NaN
COST_OTHER_INFL_ADJ                      NaN
COMMENT                                  NaN
INDICATED_DAMAGE                       False
Name: 11, dtype: object

In [248]:
print(strike_times['TIME_OF_DAY'].value_counts(dropna=False))

NaN      86806
Day      72944
Night    36602
Dusk      5296
Dawn      4165
Name: TIME_OF_DAY, dtype: int64

In [249]:
strike_times['TIME'].value_counts()
# note that whitespace appears 92325 times,
# more than any other value

               92325
10:00           1065
9:00            1057
8:00             999
22:00            965
               ...
0.793055556        1
0.716666667        1
0.854166667        1
0.942361111        1
0.399305556        1
Name: TIME, Length: 1459, dtype: int64

In [250]:
# print out the blank value at the top of the list above
strike_times['TIME'].value_counts().index[0]

'     '

In [231]:
# apparently blank values in the TIME column consist of 5 spaces
len(strike_times.loc[strike_times['TIME']=='     '])
for i in range(0,20):
    print(i, len(strike_times.loc[strike_times['TIME']==i*' ']))

0 0
1 0
2 0
3 0
4 0
5 92325
6 0
7 0
8 0
9 0
10 0
11 0
12 0
13 0
14 0
15 0
16 0
17 0
18 0
19 0

In [238]:
# Replace strings of 5 spaces with NaN
strike_times = strike_times.replace('     ', np.nan)

In [240]:
strike_times['TIME'].head()

0     8:35
1    19:30
2      NaN
3      NaN
4    11:25
Name: TIME, dtype: object